@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,400;1,500&display=swap');

html,
body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
   --primary-color: #edf2fc;
  --secondary-color: #212121;
 
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #FFF;
}

#micon{
  width: 30px;
  cursor: pointer;
}
nav ul{
  display: flex;
  text-align: right;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -70px;
  position: relative;
}

header {
  background-color: var(--secondary-color);
}

.nav-menu li {
  list-style: none;
}

.navbar a {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active.bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active.bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
  }

  .hamburger.active.bar:nth-child(1) {
    transform: translate(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.activate {
    left: 0;
  }
}

 .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer {
    
    background-color: var(--secondary-color);
    padding: 70px 0;
   
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .footer-col ul li a {
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #e91e63;
    padding-left: 1rem;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 1rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #e91e63;
    background-color: var(--primary-color);
  }
  .pageHolder{
    justify-content: space-between;
    box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     flex-direction: column;
     margin-top: 10px;
     padding: 20px;
     height: fit-content;
     background-color: var(--primary-color); 
     gap: 5;
     overflow: hidden;
     
     
  }
  .pageHolder1{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    /* height: fit-content; */
    overflow: hidden;
    
    
 } 
 .pageHolder1 img{
 max-height: 500px;
 max-width:  500px;
 border-radius: 50%;
}
 .pageHolder1 p{
  font-size: 30px;
 }
 .content{
  box-sizing: border-box;
 /* height: fit-content; */
  text-align: center;
  /* background-color: #DCDCDC ; */
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom right, #F0FFF0, #98FB98);
  filter: brightness(150%);
}

@media screen and (max-width: 768px) { 
  .pageHolder1 {
    flex-direction: column;
  }

  .pageHolder1 img {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .pageHolder1 p {
    font-size: 24px;
  }
}
  .pageHolder img{
    max-width: 900px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
    
  }
 
  .contentin{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    height: fit-content;
    /* background-color: #DCDCDC ; */
    text-align: center;
    
    background: linear-gradient(to bottom right, #F0FFF0, #98FB98);
    filter: brightness(150%);
    margin-top: 5 px;
    padding: 20px;
  }
  .contentin p{
    font-size: 30px;
    color: #000066;
  }
  .content h2{
    font-size: 50px;
    color: #000066;
  }
  .content h3{
    font-size: 40px;
    color: #000066;
  }
  .content p{
    font-size: 30px;
    color: #000080;
    background: linear-gradient(to bottom right, #F0FFF0, #98FB98);
  }
  .mantra{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pageHolder p{
    font-size: 30px;
    margin-top:20 ;
  }
  .quotes{
    /* background-color: yellow; */
   display: flex;
   align-items: center;
   text-align: center;
   padding: 10px;
   background: linear-gradient(to bottom right, #F0FFF0, #98FB98);
   filter: brightness(150%);
   padding: 10px;
   
  }
  .quotes p{
    font-size: 30px;
    text-align: center;
    color: #000080;
    background: linear-gradient(to bottom right, #F0FFF0, #98FB98);

    
  }
  .shivaD{
    width: 50%;
    
  }

  .quoteBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    width: 300px;
    margin: 20px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  .card img{
    width: 300px;
    height: 300px;
   
  }
  .quoteContent{
    padding: 10px;
  }
  .quoteContent h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .quoteContent p{
    font-size: 1rem;
    line-height: 1.5;
  }

  .pageHolder2{
    
    /* box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     padding: 20px;
     max-height: 500px;
     background-color: gray;
     overflow: hidden;
     text-align: center; */
     display: f;
     
  }

  .pageHolder2 img{
    max-width: 300px;
    max-height: 300px;
  }
  .pageHolder2 h2{
    font-size: 50px;
    color: #000066;
  }
  .pageHolder2 p{
    font-size: 25px;
  }
  